$green: rgb(92, 209, 92);
$darkGray: rgb(179, 179, 179);
$gray: rgb(214, 214, 214);
$lightGray: rgb(226, 226, 226);
$black: rgb(44, 44, 44);

.component {
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.component .top {
  max-width: 1400px;
  margin: 0 auto 50px auto;
}

.component .top .navbar {
  margin: 0;
  display: flex;
  align-items: center;
  padding: 15px 0;
}

.component .top .navbar .menu {
  text-transform: uppercase;
  list-style: none;
  padding: 15px 0;
  width: 100%;
  background-color: $lightGray;
  text-align: center;
  color: $black;
  font-weight: 600;
  margin: 0 2px;
}

.component .top .navbar .menu.active {
  background-color: white;
  border: 1px solid $lightGray;
  border-bottom: 0px;
  margin: 0 -2px;
  padding-top: 20px;
  margin-bottom: 5px;
}

.component .top .navbar .search-menu {
  width: 100%;
  background-color: $lightGray;
  color: $black;
  font-weight: 600;
  margin: 0 2px;
  padding: 14px;
}

.component .bottom {
  max-width: 1000px;
  margin: 0 auto;
}

.component .bottom .description {
  display: inline-block;
}

.component .bottom .table-top {
  margin-bottom: 48px;
}

.component .bottom .table-top .table-name {
  padding-bottom: 22px;
  display: inline-block;
}

.component .bottom .table-top .table {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
}

.component .bottom .table-top .table .table-header {
  border-bottom: 1px solid $gray;
  padding: 10px 0;
}

.component .bottom .table-top .table .table-item {
  border-bottom: 1px solid $gray;
  padding: 10px 0;
}

.component .bottom .table-top .table .box-green {
  height: 30px;
  width: 30px;
  border: 0;
  background-color: $green;
}

.component .bottom .table-top .table .box-gray {
  height: 30px;
  width: 30px;
  border: 0;
  background-color: $darkGray;
}

.component .bottom .table-bottom .table-name {
  padding-bottom: 22px;
  display: inline-block;
}

.component .bottom .table-bottom .table {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
}

.component .bottom .table-bottom .table .table-header {
  border-bottom: 1px solid $gray;
  padding: 10px 0;
}

.component .bottom .table-bottom .table .table-item {
  border-bottom: 1px solid $gray;
  padding: 10px 0;
}

.component .bottom .table-bottom .table .box-green {
  height: 30px;
  width: 30px;
  border: 0;
  background-color: $green;
}

.component .bottom .table-bottom .table .box-gray {
  height: 30px;
  width: 30px;
  border: 0;
  background-color: $darkGray;
}
